header{
  font-size: 60px;
  font-family: 'Homemade Apple', cursive;
  color: #F13728;
  margin-bottom: -10px;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
  background-color: #242D36;
  padding-bottom: 5px;

}

#headerText{
  background-color: #242D36;
  text-align: center;
}

#navLinks{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center;

}

nav a{
  width: 100%;
  color: #F77E75;
  margin: 40px;
  text-align: center;
}

nav a.current {
    color: #F45145;
}

nav{
    text-align: center;
    background-color: #1C232B;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

}

h1{
  font-family: 'Parisienne', cursive;
  color: #F45145;
  font-size: 48px;
  padding: 0;
  font-weight: normal;
  margin-left: -15px;
  margin-bottom: 0px;
}

h2{
  font-family: 'Bilbo', cursive;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 35px;
  margin-left: 20px;
}

h2 a{
  color: #F47D45;
}

body{
  background-color: #F0F1F3;
  font-family: 'Josefin Sans', sans-serif;
  color: #606666;
}

#textWords{
  border: 1px solid white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 29px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 18px;
  background-color: #FFFFFF;
  border-top: 5px solid #F45145;
}

#portfolioLinks{
  border: 1px solid white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 29px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 18px;
  background-color: #FFFFFF;
  border-top: 5px solid #B1E8E6;
}

#portDescribe{
  margin-left: 35px;
}

#navSocialLeft{
  float: left;
}

#navSocialRight{
  float: right;
}

#headerLogo{
  text-align: right;
  margin-top: -100px;
  margin-bottom: -50px;
  margin-right: 80px;
  max-height: 50px;
}

#headerLogo2{
  text-align: left;
  margin-top: 0px;
  margin-bottom: -50px;
  margin-left: 80px;

}



/* selected link */
a:active {
    color: #75EEF7;
